.item-card {
    width: 100%;
    height: 150px;  
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.image{
    height: 150px;
    width: 150px;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    margin-left: -2px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.description {
    margin-top: -20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}
