.item-card {
  width: 100%;
  height: calc(auto - 20px);
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  background-color: #000;
  color: #fff;
}

.image {
  width: 150px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
}

.content {
    width: 100%;
    margin: 20px;
}

.description {
    margin-top: -20px;
}

.year {
  margin-top: 20px;
}

a {
  text-decoration: none;
  width: 95%;
  transition: 0.5s;
}

a + a {
  margin-top: 30px;
}

a:hover {
  width: 100%;
}

a:visited {
  text-decoration: none;
}